.logo.yew:hover {
  filter: drop-shadow(0 0 2em #20a88a);
}
:root {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #0f0f0f;
  background-color: #f6f6f6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
.fullcontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.center-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  letter-spacing: 20px;
  width: calc(100vw - 8px);
  height: calc(100vh - 16px);
  overflow-x: hidden;
  overflow-y: hidden;
  animation: fade 1s alternate infinite;
  text-shadow: 2px 2px 10px #121212;
}
.stat-right{
    position: absolute;
    right: 20px;
    bottom: 0;
    font-size: 13px;
}
@keyframes fade{
    from{
        opacity: 0.1;
    }
    to{
        opacity: 1;
    }
}
.nav-container{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 80px;
    background: url(https://thelinuxpoint.github.io/Hexagon.svg);
    height: calc(100vh - 20px);
    border-radius: 20px;
    background-origin: content-box;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-item-below{
}
.nav-item-top{
}
.nav-item{
    width: 100%;

}
.nav-item:hover{
    background-color: #a0a0ff;
    border-radius: 20px;
}
.nav-item img{
    height: 30px;
    width: 30px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: 0.75s;
}

.logo.tauri:hover {
  filter: drop-shadow(0 0 2em #24c8db);
}
.left-context{
    position: absolute;
    left: 100px;
    top: 0;
    width: 25vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left-context-item{
    margin-top:20px;
    padding: 10px;
}
.left-context-item input{
    width: calc(25vw - 40px);
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(25, 30, 45, 1);
    border: 2px solid royalblue;
}
.right-context{
    position: absolute;
    left: calc( 100px + 25vw );
    top: 0;
    width: calc(75vw - 100px);
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}
.right-context-navbar{
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: center;
    width: calc(75vw - 100px);
    font-weight: 600;
    gap: 20px;
    font-size: 20px;
}
.right-context-navbar img{
    height: 40px;
    width: 40px;
}
.right-context-main{
    position: absolute;
    border-radius: 15px 15px 0px 0px;
    background: rgba(25, 30, 45, 1);
    width: calc(100% - 10px);
    height: calc(100vh - 120px);
    top: 120px;
}
.card-container{
    margin-top: 20px;
    margin-bottom: 20px;
    overflow-y: scroll;
    padding: 10px;
}
.card{
    margin-top: 15px;
    padding: 10px;
    color: black;
    background: #e4e5ee;
    box-shadow: 0px 0px 20px 1px f0f0ff;
    height: 80px;
    width: calc(25vw - 60px);
    border-radius:20px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.card-icon{

}
.card-info{
    margin-left: 20px;
}
.card img{
    height: 40px;
    width: 40px;
}
.context-message-input{
    position: fixed;
    left: calc( 25vw + 100px + 40px);
    bottom: 30px;
    gap: 10px;
}
.context-message-input input{
    width: calc(75vw - 250px);
    padding: 10px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    background-color: #121212;
    color: white;
}
.context-message-input button{

    height: 50px;
    width: 50px;
    background: royalblue;
    border: none;
    border-radius: 10px;
}
.context-message-icon{

}